node_modules
test.js
.env
build
shifhaGüncelFront
temp-test-app/
ref değerler.txt
BTS-37_attachments/
readme-ıcın-metinler.txt
daily_scrum_day1
daily_scrum_day2
daily_scrum_day3
daily_scrum_day4
daily_scrum_day5
daily_scrum_day6
daily_scrum_day7
daily_scrum_day8
daily_scrum_day9
daily_scrum_day10
daily_scrum_day11
scrums/
